.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #129ae3, #48d1d3);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 12px 0 0 0;
    display: flex;
}

.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user{
    display: flex;
    justify-items: center;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-avt{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .2);
}

.header__navbar-user-name{
    margin-left: 8px;
    font-weight: 400;
    font-size: 1.4rem;
}

.header__navbar-user-menu{
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-item{
    list-style: none;
    text-align: left;
}

.header__navbar-user-item-sep{
    border-top: 1px solid rgba(0, 0, 0, .5);
}

.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    padding: 8px 16px;
}

.header__navbar-user-item a:hover{
    background-color: #d6d4d4;
}

.header__navbar-user-menu::before{
    content: '';
    border-style: solid;
    border-width: 20px 24px;
    border-color: transparent transparent var(--white-color) transparent;   
    position: absolute;
    z-index: -1;
    right: 0;
    top: -26px;
}

.header__navbar-user-menu::after{
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 60%;
    height: 8px;
}

.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--black-color);
    text-decoration: none;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    /* display: inline-flex;  flex hay inline-flex cũng được vì thẻ cha đã có thuộc tính display : flex nên những phần tử con sẽ được xếp lên thẳng hàng theo trục main-axis */
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
    color: darkgray;
    cursor: pointer;
}
.header__navbar-icon{
    font-size: 16px;
    margin: 0 4px;
}

.header__navbar-icon-link{
    text-decoration: none;
    color: var(--text-color);
}

.header__navbar-item--strong{
    font-weight: 600;
}

.header__navbar-item--seperate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #000;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-60%)  ;
}

.header__navbar-title--nopointer{
    cursor: default;
    color: var(--text-color);
}

/* Header QR Code */
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in .4s;
}

.header__qr::before{
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 20px;
    content: '';
    display: block;
}

.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    display: flex;
    justify-content: space-evenly;
}

.header__qr-download-img{
    height: 16px;
}

.header__navbar-item--qr:hover .header__qr{
    display: block;
}

/* Header notification */
.header__noti{
    position: absolute;  
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: var(--white-color);
    /* Vị trí khung thông báo bắt đầu xuất hiện (mặc định ở giữa) */
    transform-origin: top right;
    animation: headerNotiAppear ease-in .2s;
    /* Giúp trình duyệt tối ưu bằng cách khai báo những thuộc tính thay đổi trong animation */
    will-change: opacity, transform;
    display: none;
}

.header__noti::before{
    content: '';
    border-style: solid;
    border-width: 20px 24px;
    border-color: transparent transparent var(--white-color) transparent;   
    position: absolute;
    right: 0;
    top: -26px;
}

.header__noti::after{
    content: '';
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    top: -16px;
    right: 0;   
}

.header__navbar-item--has-noti:hover .header__noti{
    display: block;
}

@keyframes headerNotiAppear{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__noti-header{
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
}

.header__noti-header h3{
    color: #888;
    margin: 0 0 0 12px;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__noti-list{
    padding-left: 0;
    background-color: var(--white-color);
    list-style: none;
}

.header__noti-item{
    display: flex;
}

.header__noti-item:hover{
    background-color: #d6d4d4;
}

.header__noti-item--viewed{
    background-color: rgba(19, 163, 240, 0.1);
}

.header__noti-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    /* background-color: rgba(19, 163, 240, 0.1); */
    width: 100%;
}

.header__noti-img{
    width: 48px;
    object-fit: contain;
}

.header__noti-info{
    margin-left: 12px;
}

.header__noti-info-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.8rem;
}

.header__noti-info-desc{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #777;
    margin-top: 4px;
}

.header__noti-footer{
    display: flex;
}

.header__noti-footer--btn{
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color);
    margin: auto;
    font-size: 1.4rem;
    padding: 8px 0;
    width: 100%;
    text-align: center;
}

/* Modal */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear .1s;
    /* note */
    display: none;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modal__body{
    --growth-from: .6;
    --growth-to: 1;
    background-color: var(--white-color);
    margin: auto;
    z-index: 2;
    border-radius: 5px;
    animation: growth linear .2s;
}

/* Authen modal*/
.auth-form{
    width: 500px;
    border-radius: 5px;
    overflow:hidden ;
    background-color: var(--white-color);
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    color: var(--primary-color);
    font-weight: 400;

}

.auth-form__switch-btn{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.6rem;
    cursor: pointer;
}

.auth-form__switch-btn:hover{
    color: #ee4d2d;
}

.auth-form__form{

}

.auth-form__group{

}

.auth-form__input{
    width: 100%;
    height: 48px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.auth-form__extra{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    margin-top: 68px;
    display: flex;
    justify-content: flex-end;
    padding: 0 32px 12px;
}

.auth-form__controls-back{
    margin-right: 8px;
}

.btn.auth-form__controls-back:hover{
    background-color: rgba(0, 0, 0, .1);
}

.btn.btn--primary:hover{
    background-color: rgba(19, 163, 240, .6);
}

.auth-form__socials{
    background-color: #F5F5F5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.btn--with-icon{
    padding: 0 36px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.auth-form__socials--facebook{
    background-color: #4267b2;
    color: var(--white-color);
}

.auth-form__socials--facebook .auth-form__socials-icon{
    color: var(--white-color);
}

.auth-form__socials-label{
    margin: 0 18px;
}

.auth-form__socials--google{
    background-color: var(--white-color);
}

.auth-form__socials--google .auth-form__socials-icon{
    color: #EA4335;
}

/* Login form */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #ee4d2d;
}

.auth-form__help-sep{
    display: block;
    height: 20px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}

.auth-form__help-forgot{
    
}

.auth-form__help-sms{

}

/* Header search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.header__logo{
    width: 200px;
}

.header__logo-link{

}

.header__logo-img{
    width: 150px;
}

.header__search{
    flex: 1;
    background-color: var(--white-color);
    height: 40px;
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    text-align: center;
}

.header__cart-notice{
    position: absolute;
    padding: 2px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 1.5px solid #48b9cc;
    top: -4px;
    right: -2px;
}

.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 2px 8px;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.6rem;
    margin-top: 6px;
}

.header__cart-wrap:hover{
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
}

.header__cart-item{
    display: flex;
    align-items: center;
}

.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 52px;
    margin: 12px;
    border: 1px solid #e8e8e8;
    z-index: 1;
}

.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name{
    text-align: left;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0 5px 0 0;
}

.header__cart-item-price{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-price-multi{
    margin: 0 4px;
    font-size: 0.9rem;
    color: #757575;
}

.header__cart-item-quantity{
    color: var(--primary-color);
    font-size: 1.1rem;
}

.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}

.header__cart-item-desc{
    color: #757575;
    font-size: 1.1rem;
    font-weight: 300;
}

.header__cart-remove{
    color: #ee4d2d;
    font-size: 1.2rem;
    font-weight: 500;
}

.header__cart-remove:hover{
    color: var(--primary-color);
}

.header__search-input-wrap{
    flex: 1;    
    height: 100%;
    position: relative;
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-selection{
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-selection:hover .header__search-option{
    display: block;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.2rem;
    color: #4A4A4A;
    margin: 0 16px;
    position: relative;
    top: 1px;
}

.header__search-btn{
    background-color: #16a2c1;
    border: none;
    height: 36px;
    border-radius: 2px;
    margin-right: 2px;
    width: 60px;
    outline: none;
}

.header__search-btn:hover{
    background-color: #5ca9c7;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.6rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top: 122%;
    width: 134px;
    box-shadow: 0 1px 3px #ccc;
    padding-left: 0;
    display: none;
    animation: fadeIn ease-in.15s;
}

.header__search-option::after{
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15px;
    left: 0;
}

.header__search-option-item{
    list-style: none;
    background-color: var(--white-color);
    padding: 8px 8px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i{
    display: inline-block;
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

/* Search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: 98%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 3px #888;
    display: none;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 500;
    cursor: default;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 8px 0 0;
}

.header__search-history-item{
    height: 32px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 32px;
    display: block;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 8px);
    right: -4px;
    background-color: #fdfdfd;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, .2);
    display: none;
    animation: fadeIn ease-in.15s;
    cursor: default;
}

.header__cart-list::after{
    content: '';
    position: absolute;
    right: 3px;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    cursor: pointer;
    border-color: transparent transparent var(--white-color) transparent;

}

.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-no-cart-img{
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-msg{
    /* display: block; */
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

/* App container */
.app__container{
    background-color: #f5f5f5;
}

.app__content{
    padding-top: 24px;
}

.category{
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading{
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 12px 16px;
    border: 1px solid rgba(0, 0, 0, .05);
    margin-top: 0;
}

.category-heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}


.category-list{
    list-style: none;
    padding-left: 0;
    padding: 0 0 8px 0;
    margin-left: 10px;
}

.category-item{

}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before{
    content: '';
    position: absolute;
    border-width: 4px;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 0;
    left: 6px;
    /* pos of arrow */
    top: 50%; /* 50% của thẻ chứa nó*/
    transform: translateY(-50%); /*50% của chính nó*/
}

.category-item__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 8px 16px;
    display: block;
    position: relative;
    right: 0;
    transition: right linear .1s;
}

.category-item__link:hover{
    right: -2px;
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter{
    background-color: rgba(0, 0, 0, .04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__btn{
    min-width: 90px;
    margin-right: 12px;
    background-color: var(--white-color);
}

.home-filter__btn.btn{
    /* background-color: var(--white-color); */
}

.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn{
    text-decoration: none;
    flex: 1;
    background-color: var(--white-color);
    display: flex;
}

.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}

.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;

}

.home-filter__page-btn--disabled .home-filter__page-icon{
    color: #ccc;
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.2rem;
    color: #555;
}

/* Product-item */
.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    /* Trong trường hợp ảnh quá dài nhưng muốn đặt trọng tâm vào giữa */
    /* background-size: cover;*/
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.6rem;
    margin: 10px;

    /* Chỉnh lại sao cho chỉ hiện tối đa 2 dòng tên (Quá 2 dòng sẽ hiện ...) */
    height: 3.2rem;
    /* Khi đối tượng con chòi ra khỏi đối tượng cha thì ẩn nó đi */
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price{

}

.home-product-item__price-old{

}

.home-product-item__price-current{

}

.home-product-item__action{

}

.home-product-item__like{

}

.home-product-item__rating{

}

.home-product-item__origin{

}

.home-product-item__brand{

}

.home-product-item__origin-name{

}

.home-product-item__favorite{

}

.home-product-item__sale-off{

}

.home-product-item__sale-off-percent{

}

.home-product-item__sale-off-label{

}



